.container{
  background-color: black;
  width: 900px;
}

.nav{
  background-color: silver;
  padding: 1rem;
}
.nav-link{
  color:black;
  font-weight:bold ;
  text-decoration: none;
}
article{
  color:white;
  padding: 0.8rem;
}
  
footer p{
  color:white;
  text-align: center;
}
.img{
  align:center ;
}